<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<table width="500" border="1">
    <tr>
        <td>类别</td>
        <td>名字</td>
        <td>价格</td>
        <td>描述</td>
        <td>操作</td>
    </tr>

    {% for info in data %}
        <tr>
            <td>{{ info.category }}</td>
            <td>{{ info.name }}</td>
            <td>{{ info.price }}</td>
            <td>{{ info.desc }}</td>
            <td>点餐</td>

        </tr>
    {% endfor %}

</table>
</body>
</html>