{% extends 'index2.html' %}
{% block block1%}


<!--table head . find data-->
<div class="card-header">
                <h3 class="card-title">员工信息</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


<!--table show data-->
      <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>姓名</th>
                    <th>外号</th>
                    <th>状态</th>
                    <th>创建日期</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for info in data %}
                  <tr>
                    <td>{{ info.username }}</td>
                    <td>{{ info.nickname }}</td>
                    <td>{{ info.status }}</td>
                    <td>{{ info.create_at }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
      <!-- split page -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                      <li class="page-item"><a class="page-link" href="{% url 'show' page_index|add:-1 %}">«</a></li>
                      {% for p in page_values %}
                            <li {% if p == page_index %}class="active"{% endif %}class="page-item"><a class="page-link" href="#">{{ p }}</a></li>
                      {% endfor %}
                      <li class="page-item"><a class="page-link" href="{% url 'show' page_index|add:1 %}">»</a></li>

                    </ul>
                </div>
            </div>



{% endblock %}